{% extends 'sites/base.html' %}

{% block content %}
  <h1>All Notes</h1>
  {% for note in all_notes %}
  <div>
    <a href="{% url 'note_detail' site_id=note.site.id note_id=note.id %}">{{ note.topic }}</a>
  </div>
  {% endfor %}
  <hr>
  <a class="btn btn-medium" href="{% url 'sites' %}" role="button">Back</a>
  <a class="btn btn-medium" href="{% url 'logout' %}" role="button">Logout</a>
  <a class="btn btn-medium" href="{% url 'search_form' %}" role="button">Back to search</a>
{% endblock %}