{% extends 'sites/base.html' %}

{% block content %}
  {% for site in all_sites %}
  <div>
    <a href="{% url 'site_detail' site_id=site.id %}">{{ site.name }}</a>
  </div>
  {% endfor %}
  <hr>
  <a class="btn btn-medium" href="{% url 'new_site' %}" role="button">Create New Site</a>
  <a class="btn btn-medium" href="{% url 'reviews' %}" role="button">View All Reviews</a>
  <a class="btn btn-medium" href="{% url 'notes' %}" role="button">View All Notes</a>
  <a class="btn btn-medium" href="{% url 'logout' %}" role="button">Logout</a>
  {% endblock %}